
<f:layout name="Default" />

<f:section name="main">
<style>
.margin-top-150{
  margin-top:150px;
}
</style>
<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 margin-top-150'>
      <div class='panel panel-primary'>
        <div class='panel-heading text-center'>
          NITSAN Site Protector
        </div>
        <div class='panel-body'>
          <f:flashMessages />
          <p>
            Site is protected by admin, if you want to access website then you need to login with a special password if you have.
          </p>
          <f:form action="attempt" object="{settings}" name="settings">
            <div class='form-group'>
              <label class='control-label' for='Password'>Password:-</label>
              <div class='input-group col-sm-12'>
                <f:form.password id='Password' property='password' class='form-control'/>
                <span class="glyphicon glyphicon-eye-open form-control-feedback"></span>
              </div>
            </div>
            <f:form.submit value='Login' class='btn btn-primary pull-right'/>
          </f:form>
        </div>
      </div>
    </div>
  </div>
</div>
</f:section>
